*{
    font-family: 'Mulish', sans-serif;;
  }
.main{
    height:1000px;
    width:100%;
    margin-top: -85px;
    background-color: rgba(34, 34, 34, .15);  
    backdrop-filter: blur(15px);
    position:absolute;
    z-index:100;
    position: fixed;
}

.Terms{
        width:60%;
        margin: auto;
        height:600px;
        background-color: #F5F5F5;
        margin-top: 120px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
}
.TermH{
    width:100%;
    background-color: #FDB605;
    height:40px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    text-align: center;
    padding-top: 1%;
}
.TermH>p{
    font-weight: 500;
    letter-spacing: 1px;
}

.notez{
    margin-left: 4%;
    margin-top: 2%;
}
.notez>p{
    font-weight: 500;
}
.terms1{
    padding-left:7%;
    padding-top: 1%;
    padding-right: 3%;
}
.termj>li{
    font-size: 13px;
}

.redMo{
    padding-left: 5%;
    margin-top: 1%;
}
.redMo>a{
    color:blue
}
.accepTer{
    display: flex;
    flex-direction: row;
    padding-left: 5%;
    margin-bottom: 1%;
    margin-top: 1%;
}
.accepTer>p{
    font-size: 13px;
    margin-top: -3px;
    margin-left: 10px;
}

.olas{
    padding-left: 5%;
}