
.main{
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.credit-card{
 text-decoration: none;
 color: black;   
}

.hr{
    margin-top: 10px;
    margin-bottom: 10px;
}

.fw-bolder {
    text-align: center;
}

.main-card{
    display: flex;
    flex-direction: row;
    width: 50rem;
    height: 500px;
}
.child-card{
    width: 30%;
    text-align: center; 
    border: 1px solid lightgrey;
}

.child-card-2{
    width: 70%;
    border: 1px solid lightgrey;
}

.secondry-card{
    margin-left: 2%;
    width: 33%;
    height: 20%;
}
.secandry-child{
    text-align: center;
    padding: 15px;
}
.credit-card-logo{
 display: flex;
 margin: 0;
 padding: 5%;
 padding-right: 0;
}
.credit-card-img{
   width: 15%;
   margin-left: 2%;
}
.credit-card-model{
    margin: 0;
    margin-left: 5%;
    width: 75%;
}
.credit-card-inp{
    background: white;
    width: 97%;
    height: 25px;
    border: none;
    outline: none;
}
.month{
    width: 15%;
    background: white;
    border: none;
    outline: none;
}
.year{
    width: 15%;
    background: white;
    border: none;
    outline: none;
    margin-left: 3%;
}
.cvv{
    width: 30%;
    background: white;
    border: none;
    outline: none;
    margin-left: 15%;
}

