.text-alignment{
   text-align: center; 
}
.credit-card{
 text-decoration: none;
 color: black;  
}
.main-card{
    width: 50rem;
    margin-left: 3%;
    height: 500px;
}
.child-card{
    width: 18rem;
    height: 457px;
}
.secondry-card{
    margin-left: 2%;
    width: 33%;
    height: 20%;
}
.secandry-child{
    text-align: center;
    padding: 15px;
}
.credit-card-logo{
 display: flexbox;
 padding: 5%;
}
.credit-card-img{
    width: 15%;
   margin-left: 2%;
}
.credit-card-model{
    padding: 5%;
    margin-left: 5%;
    width: 50%;
}
.credit-card-inp{
    background: white;
    width: 97%;
    border: none;
     outline: none;
}
.month{
    width: 15%;
    background: white;
    border: none;
    outline: none;
}
.year{
    width: 15%;
    background: white;
    border: none;
    outline: none;
    margin-left: 3%;
}
.cvv{
    width: 30%;
    background: white;
    border: none;
    outline: none;
    margin-left: 15%;
}

